/*正文*/

.body{
	padding-top:40px;
}

.content{
	background-color:white;
	padding-top:20px;
	padding-bottom:40px;
	width:860px;
	padding-left:20px;
	padding-right:20px;
}

.content h1{
	text-align: center;
	font-size: 36px;
	color: #4c4c4c;
	font-weight: 400;
	font-family: '微软雅黑';
}

.content .articleMessage{
	padding-top:20px;
	padding-bottom:20px;
	font-size:12px;
	text-align: center;
	color: #4c4c4c;
	font-family: '微软雅黑';
	display: block;
}

/*正文*/